/data
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
*.env/
.env
.venv-3.7/
.pytest_cache
ENV/
.ipynb_checkpoints/
build/
dist/
*.egg-info/
Malmo
run
.idea
text
wandb

# training data
mineRL_training.h5
checkpoints

outputs
wandb
logs/
checkpoints/